<div class="wrapper recipe">
	<div class="picture" data-image-url=<%= image_path %>>
		<h1><%= page_title %></h1>
	</div>
	<div class="content">
		<%- include("partials/edit_recipe_button") %>
		<div class="ingredients">
			<h2>Ingredients</h2>
			<table>
				<% for (var i = 0; i < ingredients.length; i++) { %>
					<tr>
						<td class="quantity"><%= ingredients[i].quantity %> <span class="small"><%= ingredients[i].fraction %></span> <%= ingredients[i].mesure %></td>
						<td class="ingredient"><%= ingredients[i].name %></td>
					</tr>
				<% } %>
			</table>
		</div>
		<div class="steps">
			<h2>Étapes</h2>
			<ul>
				<% for (var i = 0; i < steps.length; i++) { %>
					<li><span class="text"><%= steps[i] %></span></li>
				<% } %>
			</ul>
		</div>
	</div>
</div>
<%- include("partials/new_recipe_button") %>